<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        h1 {
            margin: 0px auto;
            display: block;
            width: 40rem;
            height: 40rem;
            background-color: aquamarine;
            text-align: center;
            line-height: 40rem;
        }
    </style>
</head>

<body>
    <h1>发生错误了！</h1>
</body>

</html>